.backgroundbox {
    background: $brand-secondary-color;
    position: absolute;
    z-index: -1;
}

.box-layout-00 {
    .backgroundbox {
        &_01 {
            width: 220px;
            height: 85px;
            transform: rotate(30deg);
            top: 60px;
            right: 15px;
        }

        &_02 {
            width: 200px;
            height: 65px;
            transform: rotate(15deg);
            top: 160px;
            left: 20px;
        }

        &_03 {
            width: 130px;
            height: 25px;
            transform: rotate(-20deg);
            top: 270px;
            left: 10px;
        }

        &_04 {
            width: 200px;
            height: 50px;
            transform: rotate(0deg);
            top: 300px;
            right: 20px;
        }
    }
}

.box-layout-01 {
    .backgroundbox {
        &_01 {
            width: 150px;
            height: 60px;
            transform: rotate(45deg);
            top: 60px;
            right: 5px;
        }

        &_02 {
            width: 160px;
            height: 37px;
            transform: rotate(-35deg);
            top: 125px;
            left: 15px;
        }

        &_03 {
            width: 230px;
            height: 36px;
            transform: rotate(7deg);
            top: 205px;
            right: 10px;
        }

        &_04 {
            width: 184px;
            height: 25px;
            transform: rotate(-7deg);
            top: 266px;
            left: 50px;
        }
    }
}

.box-layout-02 {
    .backgroundbox {
        &_01 {
            width: 150px;
            height: 30px;
            transform: rotate(-38deg);
            top: 60px;
            left: 20px;
        }

        &_02 {
            width: 240px;
            height: 37px;
            transform: rotate(-105deg);
            top: 125px;
            right: -44px;
        }

        &_03 {
            width: 160px;
            height: 44px;
            transform: rotate(-14deg);
            top: 120px;
            right: 109px;
        }

        &_04 {
            width: 159px;
            height: 60px;
            transform: rotate(0deg);
            top: 230px;
            left: 10px;
        }
    }
}

.box-layout-03 {
    .backgroundbox {
        &_01 {
            width: 207px;
            height: 30px;
            transform: rotate(17deg);
            top: 60px;
            right: 20px;
        }

        &_02 {
            width: 130px;
            height: 47px;
            transform: rotate(-20deg);
            top: 125px;
            left: 20px;
        }

        &_03 {
            width: 108px;
            height: 33px;
            transform: rotate(5deg);
            top: 169px;
            right: 38px;
        }

        &_04 {
            width: 220px;
            height: 25px;
            -webkit-transform: rotate(0deg);
            transform: rotate(-5deg);
            top: 230px;
            left: 10px;
        }
    }
}

@media all and (min-width: 480px) {
    .box-layout-00 {
        .backgroundbox {
            &_02 {
                top: 130px;
            }

            &_03 {
                transform: rotate(-35deg);
                top: 260px;
                left: 50px;
            }

            &_04 {
                top: 250px;
            }
        }
    }

    .box-layout-02 {
        .backgroundbox {
            &_03 {
                top: 100px;
                right: 140px;
            }

            &_04 {
                left: 60px;
            }
        }
    }

    .box-layout-03 {
        .backgroundbox {
            &_01 {
                right: 50px;
            }

            &_02 {
                left: 80px;
            }
        }
    }
}

@media all and (min-width: 768px) {
    .box-layout-00 {
        .backgroundbox {
            &_02 {
                top: 120px;
                left: 40px;
            }

            &_03 {
                top: 240px;
            }

            &_04 {
                top: 260px;
            }
        }
    }
}