$footer-icon-size: 40px;

footer {
    border-top: $border-weight solid $brand-primary-color;
    background: #fff;
    z-index: 20;
    position: relative;
    width: 100%;
    height: $footer-height + 2px;
    padding: 10px 20px;
    display: flex;
    box-sizing: border-box;

    ul {
        margin: 10px 0;
        padding: 0;

        li {
            list-style-type: none;
            display: inline-block;
            margin-right: 20px;
        }
    }
}