$search-bar-height: 40px;
$icon-height: 18px;

.hamburger.hamburger--squeeze {
    position: fixed;
    right: 0;
    top: $ticker-height;
    z-index: 32;
}

nav {
    position: absolute;
    width: 280px;
    min-height: 100%;
    right: -280px;
    top: 0;
    background: #fff;
    color: $brand-primary-color;
    border-left: $border-weight solid $brand-primary-color;
    z-index: 30;
    transition: right $transition-time ease;
    padding: (60px + $ticker-height) 20px 20px 20px;
    box-sizing: border-box;

    &.is-open {
        right: 0;
    }

    .search-form {
        height: $search-bar-height;
        width: 100%;
        position: relative;

        .search-field {
            width: calc(100% - 30px);
            height: 100%;
            padding: 5px;
            border: 0;
            border-radius: 0;
            background: #fff;
            color: $brand-primary-color;
            border: $border-weight solid $brand-primary-color;
            font-size: 1.6rem;

            &:focus {
                outline: none;
            }

            &::placeholder,
            &::-webkit-input-placeholder {
                color: $brand-primary-color;
                font-size: 1.6rem;
                line-height: $search-bar-height;
                vertical-align: middle;
            }

            /* clears the 'X' from Internet Explorer */
            &::-ms-clear,
            &::-ms-reveal {
                display: none;
                width: 0;
                height: 0;
            }

            /* clears the 'X' from Chrome */
            &::-webkit-search-decoration,
            &::-webkit-search-cancel-button,
            &::-webkit-search-results-button,
            &::-webkit-search-results-decoration {
                display: none;
            }
        }

        .search-submit {
            z-index: 32;
            height: $search-bar-height;
            width: $search-bar-height;
        }

        .search-icon {
            z-index: 31;
            margin: 11px 0 4px 8px;
            height: $icon-height;
            width: $icon-height;
        }

        .search-submit,
        .search-icon {
            background: none;
            border: 0;
            position: absolute;
            right: -5px;
        }
    }

    ul {
        padding: 0;

        li {
            list-style-type: none;
            position: relative;
            margin-bottom: 10px;

            a {
                color: $brand-primary-color;
                font-weight: normal;
                font-size: 1.8rem;
                word-break: break-word;
                text-decoration: none;
                color: $brand-primary-color;
            }

            &.menu-item-has-children {
                .dropdown {
                    content: '';
                    position: relative;
                    display: inline-block;
                    margin: 0 0 4px 6px;
                    height: $icon-height;
                    width: $icon-height + 2;
                    background: url('/hfkasta/wp-content/themes/hfkasta/assets/dropdown.svg') no-repeat center center;
                    transform: rotate(0deg);
                    transition: transform $transition-time;

                    &:hover {
                        cursor: pointer;
                    }
                }

                &.is-open {
                    .dropdown {
                        transform: rotate(-180deg);
                    }

                    .sub-menu {
                        margin-top: 10px;
                        max-height: 150px;
                        transition: max-height $transition-time;
                    }
                }
            }
        }

        &.sub-menu {
            max-height: 0px;
            transition: max-height $transition-time;
            overflow: hidden;
            box-sizing: border-box;
            padding-left: 20px;

            li {
                a {
                    font-size: 1.2rem;
                }

                &.current-menu-item {
                    a {
                        font-family: 'GT Haptik Bold', sans-serif;
                    }
                }
            }
        }
    }
}

// Hide Sidebar Note on search-result site
body.search-result {
    .content {
        .sidebar_note {
            display: none;
        }
    }
}

// Hide Sidebar Notes on mobile
nav {
    .sidebar_note {
        display: none;
    }
}

@media (min-width: 768px) {
    .hamburger.hamburger--squeeze {
        display: none;
    }

    nav {
        position: relative;
        padding-top: 20px;
        margin: 0;
        right: auto;

        ul {
            li {
                a {
                    font-size: 2rem;
                }
            }
        }

        // Show Sidebar Notes on > 768px
        .sidebar_note {
            display: inline-block;
        }
    }

    // Hide Sidebar Notes in Content on < 768px
    .content {
        .content_note {
            display: none;
        }
    }
}