// Variables
$brand-primary-color: #5a00be;
$brand-secondary-color: #d50e31;
$transition-time: .5s;
$footer-height: 60px;
$ticker-height: 40px;
$border-weight: 3px;

// Font
@font-face {
    font-family: 'GT Haptik Regular';
    font-style: normal;
    font-weight: normal;
    src: url(/hfkasta/wp-content/themes/hfkasta/assets/font/gt-haptik-regular.otf),
        url(/hfkasta/wp-content/themes/hfkasta/assets/font/gt-haptik-regular.woff),
        url(/hfkasta/wp-content/themes/hfkasta/assets/font/gt-haptik-regular.woff2);
}

@font-face {
    font-family: 'GT Haptik Bold';
    font-style: normal;
    font-weight: black;
    src: url(/hfkasta/wp-content/themes/hfkasta/assets/font/gt-haptik-bold.otf),
        url(/hfkasta/wp-content/themes/hfkasta/assets/font/gt-haptik-bold.woff),
        url(/hfkasta/wp-content/themes/hfkasta/assets/font/gt-haptik-bold.woff2);
}

// Imports
@import "./nav";
@import "./footer";
@import "./search";
@import "./boxes";
@import "./ticker";

html,
body {
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
li {
    color: $brand-primary-color;
}

p,
span,
a,
li {
    font-family: 'GT Haptik Regular', sans-serif;
    font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'GT Haptik Bold', sans-serif;
}

h1 {
    margin-top: 0;
    font-size: 1.4rem;
    padding-right: 40px;
}

a {
    text-decoration: none;
}

.wrapper {
    padding: ($ticker-height + 2px) 0 $footer-height 0;
    height: auto;
    min-height: 100%;
    max-width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    z-index: 20;

    main {
        position: relative;

        .to_content_note {
            width: 40px;
            height: auto;
            margin: 20px auto;
        }

        .content {
            max-width: 560px;
            width: 100%;
            margin: 0 auto;
            position: relative;
            padding: 150px 0 0 0;
        }

        h1 {
            width: 80%;
            margin: 0 auto;
            text-align: center;
            font-size: 42px;
        }

        .note-line,
        .note {
            display: none;
        }

        section {
            width: 100%;
            margin: 100px auto 0 auto;
            padding: 0 20px 60px 20px;
            box-sizing: border-box;
        }

        .content_note {
            padding: 20px;
        }
    }
}

// Link Styling
.wrapper {

    main .content,
    nav .sidebar_note {
        a {
            color: $brand-secondary-color;

            &::before {
                content: '';
                position: relative;
                display: inline-block;
            }
        }
    }

    main .content a::before {
        width: 1rem;
        height: 1rem;
        background: url('/hfkasta/wp-content/themes/hfkasta/assets/link_content.svg') no-repeat center center;
        margin: 0 2px -2px 4px;
    }

    nav .sidebar_note a {
        height: 100%;
        position: relative;
        padding-left: 1.8rem;
        display: block;
        box-sizing: border-box;

        &::before {
            width: 1.2rem;
            height: 1.2rem;
            background: url('/hfkasta/wp-content/themes/hfkasta/assets/link_sidebar.svg') no-repeat center center;
            margin: 0 4px 0 0;
            top: 50%;
            left: 0;
            position: absolute;
            margin-top: -.6rem;
        }
    }
}

// Sticky Footer
footer {
    margin-top: -$footer-height;
}

// Search Result Page
body.search-results {
    .wrapper {
        main {
            .content {
                padding: 100px 0 0 0;

                h1 {
                    font-size: 32px;
                }

                section {
                    margin: 60px auto 0 auto;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .wrapper {
        width: 100%;
        display: flex;

        main {
            flex-basis: 70%;

            h1 {
                width: 60%;
                font-size: 72px;
            }

            .note-line {
                display: inline-block;
                width: 160px;
                height: auto;
                left: calc(50% - 180px);
                position: absolute;
                top: 240px;
            }

            .note {
                display: inline-block;
                width: 120px;
                height: 100px;
                left: calc(50% - 250px);
                top: 185px;
                text-align: center;
                vertical-align: bottom;
                font-size: 1rem;
                position: absolute;
                transform: rotate(-14deg);

                p {
                    position: absolute;
                    bottom: 0;
                    margin: 0;
                }
            }

            .to_note {
                display: none;
            }
        }

        nav {
            flex-basis: 30%;
            min-width: 300px;
        }
    }

    body.search-results {
        .wrapper main {
            .content {
                section {
                    margin: 130px auto 0 auto;
                }
            }
        }
    }
}